.mainscreen {
    background-color: #0E0E0E;
    display: flex;
    width: 100%;
    padding: 0 98px 0 98px;
}

.slider {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    gap: 33px;
}

.slider__arrow {
    width: 32px;
    height: 32px;
    margin-top: 235px;
}

.slide {
    position: relative;
}

.slide__img {
    width: 1170px;
    height: 580px;
    object-fit: cover;
    object-position: center;  
    position: relative;
}

.slide__content {
    position: absolute;
    display: block;
    max-width: 792px;
    top: 175px;
    left: 200px;
}

.slide__line {
    display: block;
    background-color: #FFFFFF;
    width: 70px;
    height: 2px;
}

.slide__title {
    color: #FFFFFF;
    width: 516px;
    font-size: 70px;
    font-weight: 500;
    line-height: 80px;
    margin-top: 36px;
}

.slide__btn {
    width: 90px;
    height: 90px;
    color: rgb(14, 14, 14);
    background-color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    border-radius: 50%;
    border: 1px;
    margin-top: 19px;
    margin-left: 700px;
}

.slide__page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 88px;
    width: 100%;
    margin-top: 38px;
}

.page__one {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
}

.page__line {
    display: block;
    background-color: #FFFFFF;
    width: 20px;
    height: 1px;
}